* {
    margin: 0;
    padding: 0;
}

body {
    background-color: white;
    Margin: 50px 200px;
}

section {
    margin: 100px 0;
}

li {
    display: inline;
    margin: 0 20px;
    font-size: 12pt;
}


h2 {
    text-align: center;
    font-size: 2.125rem;
    color: #00b39b;
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}

h3 {
    font-size: 14pt;
    color: #747474;
    font-family: Work Sans, Arial, sans-serif;
}

h4 {
    text-align: center;
    font-size: 20pt;
    color: black;
    margin: 1em 0;
    font-family: Work Sans, Arial, sans-serif;
    font-weight: 300;
    letter-spacing: -.3px;
}


p {
    font-family: Roboto, Arial, sans-serif;
    color: #747474;
    font-size: 12pt;
    line-height: 25px;
    font-variant: normal;
    text-align: left;
    margin: 10px 10px;
}

a {
    text-decoration: none;
}

.header {
    width: 73%;
    background-color: white;
    display: flex;
    justify-content: space-between;
    position: fixed;
    padding: 20px 0;
    top: 0;
}

footer {
    margin: 10px;
    text-align: center;
}

.parag {
    display: flex;
}

.section2 {
    margin-left: -200px;
    margin-right: -200px;
    background-color: #D7F6F6;
    display: flex;
    align-items: flex-start;
    position: relative;

}

.textA {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: space-between;
    margin-left: 200px;

}

.A1 {

    overflow: hidden;
    vertical-align: baseline;

}

.BLC1 {
    margin-top: 50px;
    margin-left: 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

.BLC2 {
    margin-left: 10px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bloc {
    display: flex;
    background-color: white;
    width: 200px;
    height: 200px;
    margin: 10px;
    padding: 10px;
    align-items: center;
    flex-direction: column;
    align-content: center;
}

.top {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 20px;

}

.logo {
    width: 250px;
    vertical-align: middle;
}

.dep {
    position: relative;
    cursor: pointer;
}

.menuC {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 30px;
    font-size: 12pt;
    gap: 15px;
    display: none;
    position: absolute;
    right: 5px;
}

.dep:hover .menuC {
    display: flex;
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.album {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 350px 350px;
    gap: 20px;
}

.section1 {
    display: flex;
    justify-content: space-between;
}

.green {
    padding: 15px;
    background-color: #1ad1b9;
    width: 30%;
    border-radius: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Work Sans, Arial, sans-serif;
    line-height: 1.2;
}

.blue {
    padding: 15px;
    background-color: #5190e2;
    width: 30%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Work Sans, Arial, sans-serif;
    line-height: 1.2;
}

.black {
    padding: 15px;
    background-color: #323d49;
    width: 30%;
    border-radius: 10px;
    height: 350px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-family: Work Sans, Arial, sans-serif;
    line-height: 1.2;
}

.section3 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    vertical-align: middle;
}

.titre3 {
    color: #00b39b;
    font-family: Work Sans, Arial, sans-serif;
    vertical-align: middle;
    line-height: 2;

}

.list2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    vertical-align: middle;
    font-family: Roboto, Arial, sans-serif;
    color: rgb(61, 131, 223);
    line-height: 5;
    width: 70%;
}

.secAlbum {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.tof:hover {
    box-shadow: 1px 1px 1px 1px grey;
}

.bouton {
    width: 120px;
    height: 35px;
    background-color: #3d83df;
    color: white;
    border-radius: 5px;
    border-color: white;
}

.bouton2 {
    width: 200px;
    height: 35px;
    background-color: #3d83df;
    color: white;
    border-radius: 5px;
    border-color: white;
}


.tof1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.pied {
    display: flex;
    flex-direction: column;
    align-items: center;

}